.gallery {
  background-color: #f4f6f5;
  padding: 70px calc(min(39px + 126 * ((100vw - 768px) / (1440 - 768)), 165px));
}
.gallery .gallery__navigation {
  padding-bottom: 30px;
  color: #2c2d35;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .gallery__navigation .gallery__navigation__title {
  font-size: 40px;
  line-height: 110%;
  /* 44px */
}
.gallery .gallery__navigation .gallery__navigation__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.gallery .gallery__navigation .gallery__navigation__bar button {
  border-radius: 20px;
  background: #d4e8d9;
  padding: 10px 20px;
  max-height: 43px;
  max-width: 126px;
}
.gallery .gallery__navigation .gallery__navigation__bar button:focus {
  background: #d4e8d9;
  color: #598d66;
  border: 2px solid #598d66;
}
.gallery .gallery__navigation .gallery__navigation__bar button:hover {
  background: #598d66;
  color: #f4f6f5;
  border: none;
}
.gallery .gallery__items {
  font-size: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery .gallery__items .gallery__items__item {
  position: relative;
  background: #e1ede6;
  padding: 20px 20px 30px;
  text-align: left;
  width: calc(100% / 3 - 20px);
}
.gallery .gallery__items .gallery__items__item .gallery__items__item__img {
  -o-object-fit: contain;
     object-fit: contain;
  padding-bottom: 20px;
  width: 100%;
}
.gallery .gallery__items .gallery__items__item .gallery__items__item__autor {
  font-size: 18px;
  color: #86928b;
}
.gallery .gallery__items .gallery__items__item .gallery__items__item__name {
  padding: 10px 0 8px;
  font-size: 30px;
  color: #2c2d35;
}
.gallery .gallery__items .gallery__items__item .gallery__items__item__description {
  font-size: 18px;
  color: #2c2d35;
}
.gallery .gallery__items .gallery__items__item .gallery__items__item__price {
  padding: 30px 0 20px;
  font-size: 24px;
  color: #598d66;
}
.gallery .gallery__items .gallery__items__item button {
  border: 1px solid #598d66;
  padding: 20px 60px;
  color: #598d66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  max-width: calc(100% - 20px);
  height: 50px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery .gallery__items .gallery__items__item button:focus {
  background: #d4e8d9;
  color: #598d66;
}
.gallery .gallery__items .gallery__items__item button:hover {
  background: #598d66;
  color: #f4f6f5;
}
.gallery #content2,
.gallery #content3 {
  display: none;
}

@media screen and (max-width: 768px) {
  .gallery {
    padding: 70px calc(33px + 6 * ((100vw - 510px) / (768 - 510)));
  }
  .gallery .gallery__navigation .gallery__navigation__title {
    font-size: 30px;
  }
  .gallery .gallery__items .gallery__items__item {
    width: calc(100% / 2 - 20px);
  }
}
@media screen and (max-width: 700px) {
  .gallery .gallery__navigation {
    display: block;
  }
  .gallery .gallery__navigation .gallery__navigation__title {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .gallery {
    padding: 50px calc(33px + 6 * ((100vw - 510px) / (768 - 510)));
  }
}
@media screen and (max-width: 550px) {
  .gallery {
    padding: 60px 15px;
  }
  .gallery .gallery__navigation {
    overflow: hidden;
  }
  .gallery .gallery__navigation .gallery__navigation__title {
    font-size: 30px;
  }
  .gallery .gallery__items .gallery__items__item {
    width: calc(100% - 20px);
  }
}
