header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 33px calc(min(39px + 126 * ((100vw - 768px) / (1440 - 768)), 165px)) 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  background: #e1ede6;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: #598d66;
}
header .logo h2 {
  font-weight: 700;
}
header hr {
  display: none;
  border: none;
  border-top: 1px solid #c3d1c6;
  margin: 16px 0;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
header nav button a {
  color: #2c2d35;
  font-weight: 500;
}
header nav button img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  padding: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav button:first-of-type {
  display: none;
}
header nav button:focus {
  background: white;
}
header nav button:focus a {
  color: #2c2d35;
}
header nav button:hover {
  background: white;
}
header nav button:hover a {
  color: #598d66;
}

@media screen and (max-width: 768px) {
  header {
    padding: 33px calc(33px + 6 * ((100vw - 510px) / (768 - 510))) 32px;
  }
}
@media screen and (max-width: 700px) {
  header {
    display: block;
    padding: 16px calc(33px + 6 * ((100vw - 510px) / (768 - 510))) 16px;
  }
  header .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header button:last-of-type {
    margin-left: auto;
  }
  header hr {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  header nav button a {
    font-size: 18px;
  }
}
@media screen and (max-width: 550px) {
  header {
    padding: 0;
  }
  header .logo {
    height: 68px;
    background: #fff;
  }
  header hr {
    display: none;
  }
  header nav {
    padding: 16px 15px;
  }
  header nav button {
    display: none;
  }
  header nav button:first-of-type {
    display: block;
  }
  header nav .button_icon {
    display: block;
  }
}
