.our-team {
  padding: 149px calc(min(39px + 126 * ((100vw - 768px) / (1440 - 768)), 165px)) 70px;
  background-color: #f4f6f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-team .our-team__applique {
  position: relative;
}
.our-team .our-team__applique .our-team__applique__frame {
  position: relative;
}
.our-team .our-team__applique .our-team__applique__handle {
  position: absolute;
  left: 48px;
  bottom: 48px;
}
.our-team .our-team__applique .our-team__applique__frame_mobile {
  display: none;
  position: relative;
  width: 303.568px;
}
.our-team .our-team__applique .our-team__applique__handle_mobile {
  display: none;
  position: absolute;
  left: 31.28px;
  bottom: 27.95px;
  width: 226.685px;
}
.our-team .our-team__cotent h3 {
  font-size: 40px;
  line-height: 110%;
  /* 44px */
}
.our-team .our-team__cotent p {
  font-size: 18px;
  line-height: 150%;
  /* 27px */
  padding: 20px 0;
}
.our-team .our-team__cotent .our-team__cotent__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 870px) {
  .our-team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .our-team {
    padding: 149px calc(33px + 6 * ((100vw - 510px) / (768 - 510))) 70px;
  }

  .our-team__cotent {
    padding-top: 40px;
  }
  .our-team__cotent h3 {
    font-size: 30px;
    line-height: 110%;
    /* 44px */
  }
}
@media screen and (max-width: 550px) {
  .our-team {
    padding: 149px 15px 94px;
  }
  .our-team .our-team__cotent {
    padding-top: 0;
  }
  .our-team .our-team__cotent h3 {
    font-size: 24px;
  }
  .our-team .our-team__cotent p {
    font-size: 16px;
    line-height: 140%;
    /* 27px */
  }
  .our-team .our-team__applique .our-team__applique__frame {
    display: none;
  }
  .our-team .our-team__applique .our-team__applique__handle {
    display: none;
  }
  .our-team .our-team__applique .our-team__applique__frame_mobile {
    display: block;
  }
  .our-team .our-team__applique .our-team__applique__handle_mobile {
    display: block;
  }
  .our-team .our-team__cotent__images {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (max-width: 320px) {
  .our-team .our-team__cotent__images {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
