.title-screen {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title-screen .title-screen__title-content h1,
.title-screen .title-screen__title-content .green-title {
  font-size: 60px;
  line-height: 110%;
  /* 66px */
}
.title-screen .title-screen__title-content h1 span,
.title-screen .title-screen__title-content .green-title span {
  color: #598d66;
}
.title-screen .title-screen__title-content p {
  color: #86928b;
  font-size: 18px;
  line-height: 150%;
  padding: 20px 0 60px;
}
.title-screen .title-screen__title-content button {
  border: 1px solid #598d66;
  padding: 20px 60px;
}
.title-screen .title-screen__title-content button a {
  color: #598d66;
}
.title-screen .title-screen__title-content button:focus {
  background: #d4e8d9;
}
.title-screen .title-screen__title-content button:hover {
  background: #598d66;
}
.title-screen .title-screen__title-content button:hover a {
  color: #f4f6f5;
}
