$row-padding: calc(min(39px + 126 * ((100vw - 768px) / (1440 - 768)), 165px));
$row-padding-mobile: calc(33px + 6 * ((100vw - 510px) / (768 - 510)));

.gallery {
  background-color: #f4f6f5;
  padding: 70px $row-padding;

  .gallery__navigation {
    padding-bottom: 30px;
    color: #2c2d35;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .gallery__navigation__title {
      font-size: 40px;
      line-height: 110%; /* 44px */
    }
    .gallery__navigation__bar {
      display: flex;
      gap: 32px;

      button {
        border-radius: 20px;
        background: #d4e8d9;
        padding: 10px 20px;
        max-height: 43px;
        max-width: 126px;
      }
      button:focus {
        background: #d4e8d9;
        color: #598d66;
        border: 2px solid #598d66;
      }
      button:hover {
        background: #598d66;
        color: #f4f6f5;
        border: none;
      }
    }
  }
  .gallery__items {
    font-size: 40px;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    justify-content: center;

    .gallery__items__item {
      position: relative;
      background: #e1ede6;
      padding: 20px 20px 30px;
      text-align: left;
      width: calc(100% / 3 - 20px);

      .gallery__items__item__img {
        object-fit: contain;
        padding-bottom: 20px;
        width: 100%;
      }
      .gallery__items__item__autor {
        font-size: 18px;
        color: #86928b;
      }
      .gallery__items__item__name {
        padding: 10px 0 8px;
        font-size: 30px;
        color: #2c2d35;
      }
      .gallery__items__item__description {
        font-size: 18px;
        color: #2c2d35;
      }

      .gallery__items__item__price {
        padding: 30px 0 20px;
        font-size: 24px;
        color: #598d66;
      }

      button {
        border: 1px solid #598d66;
        padding: 20px 60px;
        color: #598d66;
        display: flex;
        white-space: nowrap;
        max-width: calc(100% - 20px);
        height: 50px;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      button:focus {
        background: #d4e8d9;
        color: #598d66;
      }
      button:hover {
        background: #598d66;
        color: #f4f6f5;
      }
    }
  }
  #content2,
  #content3 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .gallery {
    padding: 70px $row-padding-mobile;

    .gallery__navigation {
      .gallery__navigation__title {
        font-size: 30px;
      }
    }
    .gallery__items {
      .gallery__items__item {
        width: calc(100% / 2 - 20px);
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .gallery {
    .gallery__navigation {
      display: block;

      .gallery__navigation__title {
        padding-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .gallery {
    padding: 50px $row-padding-mobile;
  }
}
@media screen and (max-width: 550px) {
  .gallery {
    padding: 60px 15px;

    .gallery__navigation {
      overflow: hidden;

      .gallery__navigation__title {
        font-size: 30px;
      }
    }
    .gallery__items {
      .gallery__items__item {
        width: calc(100% - 20px);
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .gallery__items {
    .gallery__items__item {
      .gallery__items__item__img {
      }}}
}