$row-padding-1440: 0 165px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $color-light-grey;
  margin: 0 auto;
  max-width: 1440px;
  // width: 100%;

  header {
    background-color: white;
    width: 1440px;
    padding: $row-padding-1440;
  }

  main {
    background-color: white;
    width: 1440px;
    padding: $row-padding-1440;
  }

  footer {
    background-color: white;
    width: 1440px;
    padding: $row-padding-1440;
  }
}
